    .onoffswitch {
        position: relative; width: 60px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 0px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 16px;
        font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
        border: 2px solid transparent;
        background-clip: padding-box;
    }
    .onoffswitch-inner:before {
        content: "ADD";
        padding-left: 10px;
        background-color: #2E8DEF; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
        content: "SET";
        padding-right: 10px;
        background-color: #CCCCCC; color: #333333;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 10px; margin: 0px;
        background: #000000;
        position: absolute; top: 0; bottom: 0;
        right: 50px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }


/* for the markov process switch */
    .markonoffswitch-inner:before {
        content: "ON";
        padding-left: 10px;
        background-color: #12cc62; color: #FFFFFF;
    }
    .markonoffswitch-inner:after {
        content: "OFF";
        padding-right: 10px;
        background-color: #CCCCCC; color: #333333;
        text-align: right;
    }
